.gradle/
build/
out/
target/

*.log
*.tmp

.git/
.gitignore

.vscode/
.idea/
.settings/
.classpath
.project

src/main/resources/application-local.properties
src/main/resources/application-local.yml
src/main/resources/application-prod.properties
src/main/resources/application-prod.yml