.gradle/
build/
out/
target/

*.log
*.tmp

.git/
.gitignore

.vscode/
.idea/
.settings/
.classpath
.project
.sts4-cache/

src/main/resources/application-local.properties
src/main/resources/application-prod.properties